<div class="jumbotron text-center">

  <h1>Built In PHX</h1>

  <p>A directory of tech startups in Phoenix</p>

  <div class="row">
    <% @startups.approved.each do |startup| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= startup.name %><h3>
          <p><%= startup.description %></p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  <% end %>   
  </div>

</div>  