<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @startup.name %></h3>
  </div>
  <div class="panel-body">
    <%= @startup.description %>
    <%= image_tag @startup.company_image.url, class: "image-show-page img-responsive" %>
  </div>
</div>

<%= link_to "See All Startups", root_path, class: "btn btn-success" %>

</div>