@import "bootstrap-sprockets";
@import "bootstrap";

.image-index-page {
  max-width: 400px;
  max-height: 250px;
  object-fit: contain;
}

.image-show-page {
  max-width: 650px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}